<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BNK 48</title>
  <link rel="stylesheet" href="node_modules/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">

</head>
<nav id="navbar" class="navbar has-shadow is-spaced " style="    position: unset;">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="index.html" style="max-height: 2.75rem;">
        <img src="img/qq.png" style="max-height: 4.5rem">
        <p class="title is-1"> &nbsp;BNK 48</p>
      </a>
      <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuDocumentation" class="navbar-menu">
      <div class="navbar-start">

      </div>

      <div class="navbar-end">
        <a class="navbar-item bd-navbar-item-blog " href="index.html">


          <span>Home</span>
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Member
          </a>

          <div class="navbar-dropdown">
            <a href="blog1.html" class="navbar-item ">
              All Member
            </a>
            <a href="blog11.html" class="navbar-item">
              Generation 1
            </a>
            <a href="blog12.html" class="navbar-item">
              Generation 2
            </a>
          </div>
        </div>

        <a class="navbar-item bd-navbar-item-blog " href="#">


          <span>Blog</span>
        </a>
        <a class="navbar-item bd-navbar-item-blog " href="#">


          <span>Shop</span>
        </a>
        <a class="navbar-item bd-navbar-item-blog " href="#">


          <span>Demos</span>
        </a>
        <a class="navbar-item bd-navbar-item-blog " href="#">


          <span>Docs</span>
        </a>

        <div class="navbar-item">
          <div class="field is-grouped is-grouped-multiline">

            <p class="control">
              <a class="button is-info" href="#">
                <strong>Book Now</strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>